body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f05e;
    margin: 0;
    padding: 0;
}

.header-container,
.footer-container {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.header-container h1 {
    margin: 0;
}
.header-container nav ul,
.footer-container nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header-container nav ul li,
.footer-container nav ul li {
    display: inline;
    margin: 0 15px;
}

.header-container nav ul li a,
.footer-container nav ul li a {
    color: #fff;
    text-decoration: underline;
}

.header-container nav ul li a:hover,
.footer-container nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    color: #224ca7b2;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
}